@font-face {
    font-family: "Retro Computer";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/retro_computer.ttf");
}


.HealthStatus{
    -fx-spacing: 5;
    -fx-padding: 10 10 10 10;
    -fx-min-width: 370;
    -fx-max-width: 370;
}
.HUD{
    -fx-spacing: 10;
    -fx-font-family: "Retro Computer";
}
