@font-face {
    font-family: "Retro Computer";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/retro_computer.ttf");
}

.tool-bar{
    -fx-background-color: #000000;
}

.button{
    -fx-font-family: "Retro Computer";
}
.label{
    -fx-font-family: "Retro Computer";
    -fx-text-fill: #FFFFFF;
}